<%- include('header'); -%>

<link rel="stylesheet" href="../css/person.css"> 
<div class="content">
    <p><strong>name :</strong> <span><%= name %></span></p>
    <p><strong>age: </strong> <span><%= data.age %></span></p>
    <p><strong>job: </strong> <span><%= data.job %></span></p>
    <p><strong>address: </strong> <span><%= data.address %></span></p>

    <p><strong>Hobbies</strong>
        <div>
        <% data.hobby.forEach(hobby => { %>
            <p><%= hobby %></p>
        <% }) %>
        </div>
    </p>

</div>

<%- include('footer'); -%>